* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoFrame {
    margin: 50px;
    width: 180px;
    height: 300px;
    border: 1px solid black;
}

.countryFlag {
    width: auto;
    height: 120px;
    border-bottom: 1px solid black; 
}

.countryInfo {
    display: flex;
    flex-direction: column;
}

.countryInfo > p {
    padding-top: 30px;
}